<div class="container-principal product-container">
    <div class="mx-5 mt-5">
        <h1>Products:</h1>
        <div class="row btn-div">
            {{#if (eq user.role "admin")}}
            <div class="col-12 col-md-4">
                <button class="btn btn-primary col" type="submit">
                    <a class="text-white text-decoration-none" href="/newProduct">New product</a>
                </button>
            </div>
            {{/if}}
            <div class="col-12 col-md-4 text-center">
                <a class="text-black text-decoration-none" href="?sort=asc">Price Asc</a> |
                <a class="text-black text-decoration-none" href="?sort=desc">Price Desc</a>
            </div>
            <div class="col-12 col-md-4 d-flex align-items-center">
                <label for="select-category" class="me-2 mb-0">Categories:</label>
                <select id="select-category" name="category" class="form-select">
                    <option value="all">All</option>
                    {{#each categories}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>

    {{!-- Bloque para renderizar cada producto --}}
    <div class="mx-5 mt-5 row row-cols-1 row-cols-md-2" id="productLogs">
        {{#each products}}
        <div class="g-4 mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Title: {{this.title}}</h5>
                        <p class="card-text">Description: {{this.description}}</p>
                        <p class="card-text">Price: {{this.price}}</p>
                        <p class="card-text">Code: {{this.code}}</p>
                        <p class="card-text">Category: {{this.category}}</p>
                        <p class="card-text">Status: {{this.status}}</p>
                        <p class="card-text">Stock: {{this.stock}}</p>
                        {{!-- Botones de cada producto --}}
                        <button class="btn btn-secondary mt-2" id="cartButton-{{this._id}}" data-id="{{this._id}}">
                            <i class="bi bi-cart"></i>
                        </button>
                        {{#if (eq ../user.role "admin")}}
                        <button class="btn btn-warning mt-2" type="button" id="editButton-{{this._id}}"
                            data-id="{{this._id}}">Edit</button>
                        <button class="btn btn-danger mt-2" type="button" id="deleteButton-{{this._id}}"
                            data-id="{{this._id}}">Delete</button>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- Paginado --}}
    <div class="pagination-container text-center my-4">
        {{#if hasPrevPage}}
        <a href="{{prevLink}}" class="btn btn-primary mx-2">
            << Anterior</a>
                {{/if}}
                <span class="page-number mx-2">{{page}}</span>
                {{#if hasNextPage}}
                <a href="{{nextLink}}" class="btn btn-primary mx-2">Siguiente >></a>
                {{/if}}
    </div>
</div>

<script src='../public/js/products.js'></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>